
.home-container {
    position: relative;
    
}

.header-rectangle {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 110px;
}

.logo {
    width: 500px;
    position: absolute;
    top: -57px; /* Adjust this value to control the vertical position */
    left: 0px; /* Adjust this value to control the horizontal position */
}

form {
   
    background-color: rgba(149, 149, 149, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2{
    text-align: center;
}
h1{
    text-align: end;
    padding-top: 10px;
    font-size: 30px;
}
body {
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

/* Add more styling as needed for your form elements */
.nav-buttons1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: -50px;
    margin-left: 120px;
    padding: 10px;
    gap: 10px;
  }
  
  .requestsbtn,
  .vehiclesbtn,
  .driverbtn,
  .assignbtn,
  .reservationbtn {
    position: relative; /* Add this line to set the parent element to relative positioning */
    text-decoration: none;
    text-align: center;
    background: #ffffff;
    color: #000000;
    border: none;
    width: 250px;
    height: 75px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin: 50px 0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 540;
  }

  /* Hover styles */
  .requestsbtn:hover,
  .vehiclesbtn:hover,
  .driverbtn:hover,
  .assignbtn:hover,
  .reservationbtn:hover {
    background: #FF8811;
    color: #fff;
    transform: translateY(-5px);
  }

  
.panel2 {
    text-align: left;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    height: 550px;
    width: 1430px;
    margin-right: 1px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    background-color: #ffffffd8;
    overflow-y: auto; /* Enable vertical scrolling */
}


h2{
    padding-top: 10px;
}

/* Home.css */

/* Style for table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style for table headers */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for table cells */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Style for odd rows */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Style for table headers in the second panel */
.panel2 th {
    background-color: #e6f7ff; /* Light blue */
}
