.login-container {
    position: relative;
    
}

.header-rectangle {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 110px;
}

.logo {
    width: 500px;
    position: absolute;
    top: -57px; /* Adjust this value to control the vertical position */
    left: 0px; /* Adjust this value to control the horizontal position */
}

form {
   
    background-color: rgba(149, 149, 149, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.frame1{
    background-color: #fff;
    border-radius: 30px;
    width: 380px;
    margin-top: -90px;
    height: 400px;
}

h2{
    text-align: center;
}
h1{
    text-align: end;
    padding-top: 10px;
    font-size: 30px;
}
body {
    background-image: url('../assets/banner-1-3.jpeg');
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

/* Add more styling as needed for your form elements */
